{{>layout/header2}}

<div class="container">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-6">
                <a href="/posts/save" class="btn btn-primary">등산 구인글 등록</a>
            </div>
        </div>
        <br>
        <br>
        <div class="row">
            <div class="col-md-6">
                <a href="/blogs/save" class="btn btn-primary">블로그 등록</a>
            </div>
        </div>
        <br>
        <br>
        <div class="row">
            <div class="col-md-6">
                <a href="/finds" class="btn btn-primary">등산 친구 찾기</a>
            </div>
        </div>
        <br>
        <br>
    </div>
</div>

{{>layout/footer}}
