<!doctype html>
<html lang="ko">
<head>
    <link rel="stylesheet" href="/css/style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mountain-Dew</title>
    <script src="https://kit.fontawesome.com/fb139b7f2d.js" crossorigin="anonymous"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <!-- Google Font -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Raleway:400,300,500,700,600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css" type="text/css">
    <!-- Theme Stylesheet -->
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/responsive.css">
</head>
<body>
    <header>
        <div class="top-bar">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="social pull-left">
                            <ul>
                                <li><a href=""><i class="fa fa-facebook"></i></a></li>
                                <li><a href=""><i class="fa fa-twitter"></i></a></li>
                                <li><a href=""><i class="fa fa-google-plus"></i></a></li>
                                <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="action pull-right">
                            <ul>
                                <li>
                                    <!-- 홈키 -->
                                    <i class="fa fa-home" style="color: white;"></i>
                                    <a href="/" role="button">Home</a>
                                </li>
                                <li>
                                    <!-- 로그인/로그아웃 -->
                                    {{#userName}}
                                        <i class="fa fa-user" style="color: white;"></i>
                                    <a href="/logout"  role="button">Logout</a>
                                    {{/userName}}
                                    {{^userName}}
                                        <i class="fa fa-user" style="color: white;"></i>
                                        <a href="/oauth2/authorization/google" role="button">Login</a>
                                    {{/userName}}
                                </li>
                                <li>
                                    <!-- 회원가입 -->
                                    <a href=""><i class="fa fa-lock"></i> Register</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="navigation" style="background-color: blue;">
            <nav class="navbar navbar-theme">
                <div class="container">
                    <div style="display: flex; flex-direction: row;">
                        <!-- 등산로 검색 -->
                        <form class="form-inline" method="get" action="http://192.168.0.193:8000/">
                            <div class="form-group">
                                <label for="search"></label>
                                <div class="input-group">
                                    <div class="input-group-append">
                                        <button type="submit" class="btn btn-primary">등산로 검색</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <!-- 뉴스 -->
                        <a href="/news" class="btn btn-primary">축제 뉴스</a>
                    </div>
                    <!-- 메뉴바-->
                    <div class="collapse navbar-collapse" id="navbar">
                        <ul class="nav navbar-nav navbar-right">
                           <li><a href="#">Blog</a></li>

                            <li><a href="#">Media</a></li>

                            <li><a href="#">About Us</a></li>

                            <li><a href="#">Contact Us</a></li>

                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>
        </div>
    </header>

